* {
	margin: 0;
	padding: 0;
}
body {
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    background-image: url("photo/revolt-164_6wVEHfI-unsplash.jpg");
    background-repeat: no-repeat;
   
}
.table{
    width: 100%;
  }
.table{
    margin-left: 37%;
    position: fixed;
}
.table td{
    height: 20px;
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}
 button{
    color: black;
    font-size: 15px;
    padding: 10px 25px;
  /* background: transparent;*/
    border: 1px solid blue;
    border-radius: 20px;
   /* outline: none;*/
    cursor: pointer;
   

}
a:hover {
    color: rgb(230, 219, 219);
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
  }
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }